
<script type="text/javascript" src="js/script.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<style>@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.snip1529 {
  background-color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 10px;
  max-width: 310px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  float: left;
}

.snip1529 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1529 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
  opacity: 0.75;
}

.snip1529 figcaption {
  padding: 25px 20px 25px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.snip1529 .date {
  background-color: #fff;
  color: #333;
  font-size: 18px;
  font-weight: 800;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}

.snip1529 .date span {
  display: block;
  line-height: 14px;
}

.snip1529 .date .month {
  font-size: 11px;
}

.snip1529 h3,
.snip1529 p {
  margin: 0;
  padding: 0;
}

.snip1529 h3 {
  font-weight: 800;
  letter-spacing: -0.4px;
}

.snip1529 .hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  background-color: rgba(236, 188, 46, 0.75);
  display: flex;
  font-size: 65px;
  justify-content: center;
  opacity: 0;
}

.snip1529 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.snip1529:hover .hover,
.snip1529.hover .hover {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 1;
}

.snip1529:hover figcaption,
.snip1529.hover figcaption {
  opacity: 0;
}

.snip1529:hover .date,
.snip1529.hover .date {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}


/* Demo purposes only */

body {
  background-color: #212121;
}</style>
<html>






<!--<figure class="snip1529 hover"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample21.jpg" alt="pr-sample21" />-->
  <!--<div class="date"><span class="day">17</span><span class="month">May</span></div>-->
  <!--<figcaption>-->
    <!--<h3>Down with this sort of thing</h3>-->
    <!--<p>I'm killing time while I wait for life to shower me with meaning and happiness.</p>-->
  <!--</figcaption>-->
  <!--<div class="hover"><i class="ion-android-open"></i></div>-->
  <!--<a href="#"></a>-->
<!--</figure>-->
<!--<figure class="snip1529"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample23.jpg" alt="pr-sample23" />-->
  <!--<div class="date"><span class="day">08</span><span class="month">June</span></div>-->
  <!--<figcaption>-->
    <!--<h3>The World Ended Yesterday</h3>-->
    <!--<p>The only skills I have the patience to learn are those that have no real application in life. </p>-->
  <!--</figcaption>-->
  <!--<div class="hover"><i class="ion-android-open"></i></div>-->
  <!--<a href="#"></a>-->
<!--</figure>-->
    </div>
</html>



<script>
    $(".hover").mouseleave(
  function() {
    $(this).removeClass("hover");
  }
);
</script>
<script>// Some random colors
const colors = ["#3CC157", "#2AA7FF", "#1B1B1B", "#FCBC0F", "#F85F36"];

const numBalls = 50;
const balls = [];

for (let i = 0; i < numBalls; i++) {
  let ball = document.createElement("div");
  ball.classList.add("ball");
  ball.style.background = colors[Math.floor(Math.random() * colors.length)];
  ball.style.left = `${Math.floor(Math.random() * 100)}vw`;
  ball.style.top = `${Math.floor(Math.random() * 100)}vh`;
  ball.style.transform = `scale(${Math.random()})`;
  ball.style.width = `${Math.random()}em`;
  ball.style.height = ball.style.width;

  balls.push(ball);
  document.body.append(ball);
}

// Keyframes
balls.forEach((el, i, ra) => {
  let to = {
    x: Math.random() * (i % 2 === 0 ? -11 : 11),
    y: Math.random() * 12
  };

  let anim = el.animate(
    [
      { transform: "translate(0, 0)" },
      { transform: `translate(${to.x}rem, ${to.y}rem)` }
    ],
    {
      duration: (Math.random() + 1) * 2000, // random duration
      direction: "alternate",
      fill: "both",
      iterations: Infinity,
      easing: "ease-in-out"
    }
  );
});
</script>





<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
    <!-- Le Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>

            Dashboard &middot; Bootadmin

    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <script type="text/javascript">
        var host = "bootadmin.org";
        if ((host == window.location.host) && (window.location.protocol != "https:"))
            window.location.protocol = "https";
    </script>

    <!-- Le Meta Data -->
    <meta content="Bootadmin" property="og:site_name">
    <meta content="Bootadmin" property="og:title">
    <meta content="website" property="og:type">
    <meta content="Bootadmin is an open source bootstrap admin panel." property="og:description">
    <meta name="keywords" content="bootstrap, admin, theme, panel, administration, material">


    <meta content="/images/logo.png" property="og:image">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@iamshipon1988">
    <meta name="twitter:creator" content="@iamshipon1988">

    <meta name="twitter:title" content="Bootadmin">


    <meta name="twitter:description" content="An opensource bootstrap admin panel.">


    <!-- Le App Banner Data -->
    <meta name="apple-itunes-app" content="app-id=1245521413">
    <!--<meta name="apple-itunes-app" content="app-id=1245521413, affiliate-data=myAffiliateData, app-argument=myURL">-->

    <!-- Le Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Le CSS
    ================================================== -->
    <link rel="stylesheet" href="https://bootadmin.org/style/vendor/library.min.css">
    <link rel="stylesheet" href="https://bootadmin.org/style/vendor/jqueryui-flat/jquery-ui.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


    <link rel="stylesheet" href="https://bootadmin.org/style/core/style.min.css">

    <!-- Le IE Conditionals
    ================================================== -->
    <!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le Javascript Pre-loads
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Le Page Specific Codes
    ================================================== -->


	<!-- Le Favicons
	================================================== -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body id="landing" class="sidebar-open">
<div class="loading">
    <div class="loading-center"><img src="https://bootadmin.org/images/loading/map.gif" alt="Loading" /></div>
</div>
<div class="page-container animsition">
    <div id="dashboardPage">


<!-- Main Menu -->
<div class="topbar sidebar-open">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-4">
                <div class="logo">
                    <a href="#">
                        <span class="logo-emblem">BA</span>
                        <span class="logo-full">Bootadmin</span>
                    </a>
                </div>
                <a href="#" class="menu-toggle wave-effect">
                    <i class="feather icon-menu"></i>
                </a>
            </div>
            <div class="col-md-7 col-8 text-right">
                <ul>
                    <!-- Profile Menu -->
                    <li class="btn-group user-account">
                        <a href="javascript:;" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="user-content">
                                <div class="user-name">Andrew Gill</div>
                                <div class="user-plan">BeeBack Free Tier</div>
                            </div>
                            <div class="avatar">
                                <img src="https://bootadmin.org/images/demo/user.jpg" alt="profile" />
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right animated bounceInUp">
                            <li><a href="/account/profile" class="animsition-link dropdown-item"><i class="feather icon-user"></i> Profile</a></li>
                            <li><a href="/account/billing" class="animsition-link dropdown-item"><i class="feather icon-dollar-sign"></i> Billing</a></li>
                            <li><a href="/account/profile/edit" class="animsition-link dropdown-item"><i class="feather icon-settings"></i> Settings</a></li>
                            <li><a href="/" class="animsition-link dropdown-item"><i class="feather icon-log-in"></i> Logout</a></li>
                        </ul>
                    </li>
                    <!-- Offcanvas Menu -->
                    <li>
                        <a href="#" class="btn wave-effect offcanvas-toggle"><i class="feather icon-settings"></i></a>
                    </li>
                    <!-- Notification Menu -->
                    <li class="btn-group notification">
                        <a href="javascript:;" class="btn dropdown-toggle wave-effect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="feather icon-bell"><span class="notification-count">27</span></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right animated fadeIn">
                            <li>
                                <a href="#" class="wave-effect">
                                    <span class="avatar">
                                        <img src="https://bootadmin.org/images/demo/profile.png" alt="Mr. Chu" />
                                    </span>
                                    <span class="name">Jas Gillionaire</span>
                                    <span class="message">Like your post: “Contact Form 7 Multi-Step”</span>
                                    <span class="time">45 min</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="wave-effect">
                                    <span class="avatar">
                                        <img src="https://bootadmin.org/images/demo/user.jpg" alt="Andrew" />
                                    </span>
                                    <span class="name">Gurinder Singh</span>
                                    <span class="message">Like your post: “Contact Form 7 Multi-Step”</span>
                                    <span class="time">45 min</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="wave-effect">
                                    <span class="avatar">
                                        <img src="https://bootadmin.org/images/demo/profile.png" alt="Mr. Chu" />
                                    </span>
                                    <span class="name">Andrew the Canadian</span>
                                    <span class="message">Like your post: “Contact Form 7 Multi-Step”</span>
                                    <span class="time">45 min</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="wave-effect">
                                    <span class="avatar">
                                        <img src="https://bootadmin.org/images/demo/user.jpg" alt="Mr. Chu" />
                                    </span>
                                    <span class="name">Artsy Shohan</span>
                                    <span class="message">Like your post: “Contact Form 7 Multi-Step”</span>
                                    <span class="time">45 min</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="wave-effect">
                                    <span class="avatar">
                                        <img src="https://bootadmin.org/images/demo/profile.png" alt="Mr. Chu" />
                                    </span>
                                    <span class="name">Sazzad Shammad</span>
                                    <span class="message">Like your post: “Contact Form 7 Multi-Step”</span>
                                    <span class="time">45 min</span>
                                </a>
                            </li>
                            <li><a href="/notification" class="dropdown-item all-notifications wave-effect">See more messages <i class="feather icon-arrow-down"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<aside class="offcanvas-menu">
    slideout menu here
</aside>



<!-- Main Menu -->
<div class="sidebar sidebar-open">
    <div class="logo">
        <a href="/">
            <span class="logo-emblem">BA</span>
            <span class="logo-full">Bootadmin</span>
        </a>
    </div>
    <ul>
        <li class="spacer"></li>
        <li class="profile">
            <span class="profile-image">
                <img src="https://bootadmin.org/images/demo/user.jpg" alt="profile" />
            </span>
            <span class="profile-name">
                Daniel Craig
            </span>
            <span class="profile-info">
                Premium User
            </span>
        </li>
        <li class="spacer"></li>
        <li class="title">
            <i class="feather icon-more-horizontal"></i>
            <span class="menu-title">Main</span>
        </li>
        <li class="nav-item">
            <a class="nav-link wave-effect collapsed wave-effect" data-toggle="collapse" href="#navDashboard" aria-expanded="false" aria-controls="page-dashboards">
                <i class="feather icon-grid"></i>
                <span class="menu-title">Dashboard</span>

        <li class="nav-item">
            <a class="nav-link wave-effect collapsed" data-toggle="collapse" href="#navPageLayouts" aria-expanded="false" aria-controls="page-layouts">
                <i class="feather icon-sidebar"></i>
                <span class="menu-title">Page Layouts</span>
                <i class="feather icon-chevron-down down-arrow"></i>
            </a>
            <div class="collapse" id="navPageLayouts">
                <ul class="flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link wave-effect" href="#">
                            <i class="feather icon-link"></i>
                            <span class="menu-title">Boxed</span>
                        </a>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link wave-effect collapsed" data-toggle="collapse" href="#navElements" aria-expanded="false" aria-controls="page-elements">
                <i class="feather icon-layout"></i>
                <span class="menu-title">Elements</span>
                <i class="feather icon-chevron-down down-arrow"></i>
            </a>
            <div class="collapse" id="navElements">
                <ul class="flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link wave-effect" href="#">
                            <i class="feather icon-link"></i>
                            <span class="menu-title">Grid</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link wave-effect collapsed" data-toggle="collapse" href="#navMailbox" aria-expanded="false" aria-controls="page-mailbox">
                <i class="feather icon-mail"></i>
                <span class="menu-title">Mailbox</span>
                <i class="feather icon-chevron-down down-arrow"></i>
            </a>
            <div class="collapse" id="navMailbox">
                <ul class="flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link wave-effect" href="#">
                            <i class="feather icon-inbox"></i>
                            <span class="menu-title">Inbox</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link wave-effect" href="#">
                            <i class="feather icon-mail"></i>
                            <span class="menu-title">Email</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link wave-effect" href="#">
                            <i class="feather icon-send"></i>
                            <span class="menu-title">Compose</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link wave-effect nav-single">
                <i class="feather icon-calendar"></i>
                <span class="menu-title">Calendar</span>
            </a>
        </li>
        <li class="title">
            <i class="feather icon-more-horizontal"></i>
            <span class="menu-title">Misc</span>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link wave-effect nav-single">
                <i class="feather icon-zap"></i>
                <span class="menu-title">Credits</span>
            </a>
        </li>
        <li class="spacer"></li>
        <li class="button-container">
            <a href="https://github.com/iamshipon1988/bootadmin" class="btn btn-primary display-block"><i class="feather icon-download"></i> Download on Github</a>
        </li>
    </ul>
</div>

        {% block page_content %}

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div style="padding:80px float:left">
<figure class="snip1529">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample13.jpg" alt="pr-sample13" />
  <div class="date"><span class="day">28</span><span class="month">Apr</span></div>
  <figcaption>
    <h3>An Abstract Post Heading</h3>
    <p>Which is worse, that everyone has his price, or that the price is always so low.</p>
  </figcaption>
  <div class="hover"><i class="ion-android-open"></i></div>
  <a href="#"></a>
</figure>

    <figure class="snip1529">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample13.jpg" alt="pr-sample13" />
  <div class="date"><span class="day">28</span><span class="month">Apr</span></div>
  <figcaption>
    <h3>An Abstract Post Heading</h3>
    <p>Which is worse, that everyone has his price, or that the price is always so low.</p>
  </figcaption>
  <div class="hover"><i class="ion-android-open"></i></div>
  <a href="#"></a>
</figure>
    <figure class="snip1529">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample13.jpg" alt="pr-sample13" />
  <div class="date"><span class="day">28</span><span class="month">Apr</span></div>
  <figcaption>
    <h3>An Abstract Post Heading</h3>
    <p>Which is worse, that everyone has his price, or that the price is always so low.</p>
  </figcaption>
  <div class="hover"><i class="ion-android-open"></i></div>
  <a href="#"></a>
</figure>
    <figure class="snip1529">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample13.jpg" alt="pr-sample13" />
  <div class="date"><span class="day">28</span><span class="month">Apr</span></div>
  <figcaption>
    <h3>An Abstract Post Heading</h3>
    <p>Which is worse, that everyone has his price, or that the price is always so low.</p>
  </figcaption>
  <div class="hover"><i class="ion-android-open"></i></div>
  <a href="#"></a>
</figure>
    <figure class="snip1529">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample13.jpg" alt="pr-sample13" />
  <div class="date"><span class="day">28</span><span class="month">Apr</span></div>
  <figcaption>
    <h3>An Abstract Post Heading</h3>
    <p>Which is worse, that everyone has his price, or that the price is always so low.</p>
  </figcaption>
  <div class="hover"><i class="ion-android-open"></i></div>
  <a href="#"></a>
</figure>
    <figure class="snip1529">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample13.jpg" alt="pr-sample13" />
  <div class="date"><span class="day">28</span><span class="month">Apr</span></div>
  <figcaption>
    <h3>An Abstract Post Heading</h3>
    <p>Which is worse, that everyone has his price, or that the price is always so low.</p>
  </figcaption>
  <div class="hover"><i class="ion-android-open"></i></div>
  <a href="#"></a>
</figure>
    <figure class="snip1529">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample13.jpg" alt="pr-sample13" />
  <div class="date"><span class="day">28</span><span class="month">Apr</span></div>
  <figcaption>
    <h3>An Abstract Post Heading</h3>
    <p>Which is worse, that everyone has his price, or that the price is always so low.</p>
  </figcaption>
  <div class="hover"><i class="ion-android-open"></i></div>
  <a href="#"></a>
</figure>
    <figure class="snip1529">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample13.jpg" alt="pr-sample13" />
  <div class="date"><span class="day">28</span><span class="month">Apr</span></div>
  <figcaption>
    <h3>An Abstract Post Heading</h3>
    <p>Which is worse, that everyone has his price, or that the price is always so low.</p>
  </figcaption>
  <div class="hover"><i class="ion-android-open"></i></div>
  <a href="#"></a>
</figure>
      <figure class="snip1529">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample13.jpg" alt="pr-sample13" />
  <div class="date"><span class="day">28</span><span class="month">Apr</span></div>
  <figcaption>
    <h3>An Abstract Post Heading</h3>
    <p>Which is worse, that everyone has his price, or that the price is always so low.</p>
  </figcaption>
  <div class="hover"><i class="ion-android-open"></i></div>
  <a href="#"></a>
</figure>
      <figure class="snip1529">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample13.jpg" alt="pr-sample13" />
  <div class="date"><span class="day">28</span><span class="month">Apr</span></div>
  <figcaption>
    <h3>An Abstract Post Heading</h3>
    <p>Which is worse, that everyone has his price, or that the price is always so low.</p>
  </figcaption>
  <div class="hover"><i class="ion-android-open"></i></div>
  <a href="#"></a>
</figure>
{% endblock page_content %}



<!-- Le Javascript -->
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://bootadmin.org/scripts/vendor/bootstrap.min.js"></script>
<script src="https://bootadmin.org/scripts/vendor/library.min.js"></script>
<script src="https://bootadmin.org/scripts/core/main.js"></script>
</body>
</html>
<script>
    var label = document.querySelector(".label");
var c = document.getElementById("c");
var ctx = c.getContext("2d");
var cw = c.width = 700;
var ch = c.height = 350;
var cx = cw / 2,
  cy = ch / 2;
var rad = Math.PI / 180;
var frames = 0;

ctx.lineWidth = 1;
ctx.strokeStyle = "#999";
ctx.fillStyle = "#ccc";
ctx.font = "14px monospace";

var grd = ctx.createLinearGradient(0, 0, 0, cy);
grd.addColorStop(0, "hsla(167,72%,60%,1)");
grd.addColorStop(1, "hsla(167,72%,60%,0)");

var oData = {
  "2008": 10,
  "2009": 39.9,
  "2010": 17,
  "2011": 30.0,
  "2012": 5.3,
  "2013": 38.4,
  "2014": 15.7,
  "2015": 9.0
};

var valuesRy = [];
var propsRy = [];
for (var prop in oData) {

  valuesRy.push(oData[prop]);
  propsRy.push(prop);
}


var vData = 4;
var hData = valuesRy.length;
var offset = 50.5; //offset chart axis
var chartHeight = ch - 2 * offset;
var chartWidth = cw - 2 * offset;
var t = 1 / 7; // curvature : 0 = no curvature
var speed = 2; // for the animation

var A = {
  x: offset,
  y: offset
}
var B = {
  x: offset,
  y: offset + chartHeight
}
var C = {
  x: offset + chartWidth,
  y: offset + chartHeight
}

/*
      A  ^
	    |  |
	    + 25
	    |
	    |
	    |
	    + 25
      |__|_________________________________  C
      B
*/

// CHART AXIS -------------------------
ctx.beginPath();
ctx.moveTo(A.x, A.y);
ctx.lineTo(B.x, B.y);
ctx.lineTo(C.x, C.y);
ctx.stroke();

// vertical ( A - B )
var aStep = (chartHeight - 50) / (vData);

var Max = Math.ceil(arrayMax(valuesRy) / 10) * 10;
var Min = Math.floor(arrayMin(valuesRy) / 10) * 10;
var aStepValue = (Max - Min) / (vData);
console.log("aStepValue: " + aStepValue); //8 units
var verticalUnit = aStep / aStepValue;

var a = [];
ctx.textAlign = "right";
ctx.textBaseline = "middle";
for (var i = 0; i <= vData; i++) {

  if (i == 0) {
    a[i] = {
      x: A.x,
      y: A.y + 25,
      val: Max
    }
  } else {
    a[i] = {}
    a[i].x = a[i - 1].x;
    a[i].y = a[i - 1].y + aStep;
    a[i].val = a[i - 1].val - aStepValue;
  }
  drawCoords(a[i], 3, 0);
}

//horizontal ( B - C )
var b = [];
ctx.textAlign = "center";
ctx.textBaseline = "hanging";
var bStep = chartWidth / (hData + 1);

for (var i = 0; i < hData; i++) {
  if (i == 0) {
    b[i] = {
      x: B.x + bStep,
      y: B.y,
      val: propsRy[0]
    };
  } else {
    b[i] = {}
    b[i].x = b[i - 1].x + bStep;
    b[i].y = b[i - 1].y;
    b[i].val = propsRy[i]
  }
  drawCoords(b[i], 0, 3)
}

function drawCoords(o, offX, offY) {
  ctx.beginPath();
  ctx.moveTo(o.x - offX, o.y - offY);
  ctx.lineTo(o.x + offX, o.y + offY);
  ctx.stroke();

  ctx.fillText(o.val, o.x - 2 * offX, o.y + 2 * offY);
}
//----------------------------------------------------------

// DATA
var oDots = [];
var oFlat = [];
var i = 0;

for (var prop in oData) {
  oDots[i] = {}
  oFlat[i] = {}

  oDots[i].x = b[i].x;
  oFlat[i].x = b[i].x;

  oDots[i].y = b[i].y - oData[prop] * verticalUnit - 25;
  oFlat[i].y = b[i].y - 25;

  oDots[i].val = oData[b[i].val];

  i++
}



///// Animation Chart ///////////////////////////
//var speed = 3;
function animateChart() {
  requestId = window.requestAnimationFrame(animateChart);
  frames += speed; //console.log(frames)
  ctx.clearRect(60, 0, cw, ch - 60);

  for (var i = 0; i < oFlat.length; i++) {
    if (oFlat[i].y > oDots[i].y) {
      oFlat[i].y -= speed;
    }
  }
  drawCurve(oFlat);
  for (var i = 0; i < oFlat.length; i++) {
      ctx.fillText(oDots[i].val, oFlat[i].x, oFlat[i].y - 25);
      ctx.beginPath();
      ctx.arc(oFlat[i].x, oFlat[i].y, 3, 0, 2 * Math.PI);
      ctx.fill();
    }

  if (frames >= Max * verticalUnit) {
    window.cancelAnimationFrame(requestId);

  }
}
requestId = window.requestAnimationFrame(animateChart);

/////// EVENTS //////////////////////
c.addEventListener("mousemove", function(e) {
  label.innerHTML = "";
  label.style.display = "none";
  this.style.cursor = "default";

  var m = oMousePos(this, e);
  for (var i = 0; i < oDots.length; i++) {

    output(m, i);
  }

}, false);

function output(m, i) {
  ctx.beginPath();
  ctx.arc(oDots[i].x, oDots[i].y, 20, 0, 2 * Math.PI);
  if (ctx.isPointInPath(m.x, m.y)) {
    //console.log(i);
    label.style.display = "block";
    label.style.top = (m.y + 10) + "px";
    label.style.left = (m.x + 10) + "px";
    label.innerHTML = "<strong>" + propsRy[i] + "</strong>: " + valuesRy[i] + "%";
    c.style.cursor = "default";
  }
}

// CURVATURE
function controlPoints(p) {
  // given the points array p calculate the control points
  var pc = [];
  for (var i = 1; i < p.length - 1; i++) {
    var dx = p[i - 1].x - p[i + 1].x; // difference x
    var dy = p[i - 1].y - p[i + 1].y; // difference y
    // the first control point
    var x1 = p[i].x - dx * t;
    var y1 = p[i].y - dy * t;
    var o1 = {
      x: x1,
      y: y1
    };

    // the second control point
    var x2 = p[i].x + dx * t;
    var y2 = p[i].y + dy * t;
    var o2 = {
      x: x2,
      y: y2
    };

    // building the control points array
    pc[i] = [];
    pc[i].push(o1);
    pc[i].push(o2);
  }
  return pc;
}

function drawCurve(p) {

  var pc = controlPoints(p); // the control points array

  ctx.beginPath();
  //ctx.moveTo(p[0].x, B.y- 25);
  ctx.lineTo(p[0].x, p[0].y);
  // the first & the last curve are quadratic Bezier
  // because I'm using push(), pc[i][1] comes before pc[i][0]
  ctx.quadraticCurveTo(pc[1][1].x, pc[1][1].y, p[1].x, p[1].y);

  if (p.length > 2) {
    // central curves are cubic Bezier
    for (var i = 1; i < p.length - 2; i++) {
      ctx.bezierCurveTo(pc[i][0].x, pc[i][0].y, pc[i + 1][1].x, pc[i + 1][1].y, p[i + 1].x, p[i + 1].y);
    }
    // the first & the last curve are quadratic Bezier
    var n = p.length - 1;
    ctx.quadraticCurveTo(pc[n - 1][0].x, pc[n - 1][0].y, p[n].x, p[n].y);
  }

  //ctx.lineTo(p[p.length-1].x, B.y- 25);
  ctx.stroke();
  ctx.save();
  ctx.fillStyle = grd;
  ctx.fill();
  ctx.restore();
}

function arrayMax(array) {
  return Math.max.apply(Math, array);
};

function arrayMin(array) {
  return Math.min.apply(Math, array);
};

function oMousePos(canvas, evt) {
  var ClientRect = canvas.getBoundingClientRect();
  return { //objeto
    x: Math.round(evt.clientX - ClientRect.left),
    y: Math.round(evt.clientY - ClientRect.top)
  }
}
</script>